body {
  background-image: url("background.jpg");
  background-size: cover;
  font-family: "Dosis", sans-serif;
}

.container {
  width: 800px;
  height: 600px;
  margin: auto;
  border-radius: 2%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  text-align: center;
  padding-top: 50px;
}

header img {
  height: 80px;
}

.titolo {
  color: #00DD00;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
}

nav {
  height: 25px;
  background-color: #00DD00;
  text-align: center;
  padding:5px;
}

a:link {
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

nav .glow:hover {
  font-weight: bold;
  color: #000;
  background: #00DD00;
}

nav .glow:active {
  background: #000;
}

main {
    color: #fff;
}

.scooter {
 margin-top: 30px;
}

.scooter-name{
  font-size: 20px;
  font-weight: bold;
  display: inline;
}

.scooter-info:before {
  content: "\0021A6";
}

.scooter-info {
  font-size: 16px;
}

.charge-low, .charge-medium, .charge-high {
  height: 25px;
  border-radius: 3px;
}

.charge-medium {
  width:35%;
  background: #FFA500;
}

.charge-high {
  width:80%;
  background: #32CD32;
}

.charge-low {
  width:10%;
  background: #A52A2A;
}
